<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Delete Trash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="error-list-container">
      <p *ngFor="let error of errorText" class="error-text">{{ error }}</p>
    </div>
    <div class="file-list-container">
      <p *ngFor="let file of identifiedFiles" class="file-list-text">{{ file }}</p>
    </div>
    <ion-button (click)="clearClicked()">Clear</ion-button>
  </div>
</ion-content>
